<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.babybox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name="com.babybox.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <meta-data android:name="com.babybox.util.GlideConfiguration" android:value="GlideModule"/>

        <!--service android:name=".app.BroadcastService" /-->

        <activity
            android:name="com.babybox.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.babybox.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:noHistory="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.babybox.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.babybox.activity.CategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mock.NewsfeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.NewPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mock.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.ProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.MessageDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.GameRulesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.GameGiftActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.MyProfileActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.SignupDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.TermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.PrivacyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mock.PNCommunityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mock.PNAppDatesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mock.TopSchoolsActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <activity android:name="org.acra.CrashReportDialog"
            android:theme="@android:style/Theme.Dialog"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true" />
    </application>

</manifest>
