<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.babybox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.babybox.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission
        android:name="com.babybox.gcm.permission.C2D_MESSAGE" />

    <application
        android:name="com.babybox.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <meta-data android:name="com.babybox.util.GlideConfiguration" android:value="GlideModule"/>

        <activity
            android:name="com.babybox.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.babybox.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:noHistory="false" />
        <activity
            android:name="com.babybox.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.SignupActivity"
            android:screenOrientation="portrait"  />
        <activity
            android:name="com.babybox.activity.SignupDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.TermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.PrivacyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.SelectImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.image.crop.CropImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.babybox.activity.CategoryActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.babybox.activity.NewPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.EditPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.ProductActivity"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="baby-box.hk" android:pathPrefix="/product"/>
                <data android:scheme="http" android:host="baby-box.com.hk" android:pathPrefix="/product"/>
                <data android:scheme="http" android:host="www.baby-box.hk" android:pathPrefix="/product"/>
                <data android:scheme="http" android:host="www.baby-box.com.hk" android:pathPrefix="/product"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.babybox.activity.FullscreenImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.CommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.UserProfileActivity"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--data android:scheme="http" android:host="baby-box.hk" android:pathPrefix="/profile"/>
                <data android:scheme="http" android:host="baby-box.com.hk" android:pathPrefix="/profile"/>
                <data android:scheme="http" android:host="www.baby-box.hk" android:pathPrefix="/profile"/>
                <data android:scheme="http" android:host="www.baby-box.com.hk" android:pathPrefix="/profile"/-->
                <data android:scheme="http" android:host="baby-box.hk" android:pathPrefix="/seller"/>
                <data android:scheme="http" android:host="baby-box.com.hk" android:pathPrefix="/seller"/>
                <data android:scheme="http" android:host="www.baby-box.hk" android:pathPrefix="/seller"/>
                <data android:scheme="http" android:host="www.baby-box.com.hk" android:pathPrefix="/seller"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.babybox.activity.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.GameBadgesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.FollowersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.FollowingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.ConversationListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.ProductConversationListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.MessageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.babybox.activity.SellerRulesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NotificationSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminNewUsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminLatestLoginsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminConversationListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminMessageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReportPostActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity android:name="org.acra.CrashReportDialog"
            android:theme="@android:style/Theme.Dialog"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true" />

        <receiver
            android:name="com.babybox.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.babybox" />
            </intent-filter>
        </receiver>

        <service android:name="com.babybox.gcm.GCMNotificationIntentService" />
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.EditImageActivity"
             >
        </activity>
    </application>

</manifest>
